<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Менеджер</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/css/uikit.min.css"/>
</head>
<body class="uk-background-muted">
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-margin-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{% url 'manager' %}">Менеджер</a></li>
            <li><a href="{% url 'manager_clients' %}">Клиенты</a></li>
            <li><a href="{% url 'manager_services' %}">Услуги</a></li>
            <li><a href="{% url 'manager_rooms' %}">Номера</a></li>
            <li><a href="{% url 'add_service' %}">Запись на услугу</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>
</nav>

<div class="uk-container uk-margin-top">
    {% if messages %}
    <div class="uk-margin-bottom">
        {% for message in messages %}
        <div class="uk-alert uk-alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>
                {% if message.tags == 'success' %}
                <span uk-icon="icon: check" class="uk-margin-small-right"></span>
                {% elif message.tags == 'error' or message.tags == 'danger' %}
                <span uk-icon="icon: warning" class="uk-margin-small-right"></span>
                {% elif message.tags == 'warning' %}
                <span uk-icon="icon: warning" class="uk-margin-small-right"></span>
                {% else %}
                <span uk-icon="icon: info" class="uk-margin-small-right"></span>
                {% endif %}
                {{ message }}
            </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block manager_content %}

    {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit-icons.min.js"></script>
</body>
</html>