<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Менеджер</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/css/uikit.min.css"/>
</head>
<body class="uk-background-muted">
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-margin-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{% url 'manager' %}">Менеджер</a></li>
            <li><a href="{% url 'manager_clients' %}">Клиенты</a></li>

        </ul>
    </div>
</nav>

<div class="uk-container uk-margin-top">
    {% if messages %}
    <div class="uk-alert-primary" uk-alert>
        {% for message in messages %}
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% block manager_content %}

    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit-icons.min.js"></script>
</body>
</html>