<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Регистрация | Отель</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/css/uikit.min.css" />
</head>
<body class="uk-background-muted">
    <div class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center">
        <div class="uk-width-large uk-card uk-card-default uk-card-body">
            <h2 class=" uk-text-center uk-card-title uk-margin-remove">Создать аккаунт</h2>

            {% if messages %}
            <div class="uk-margin-bottom">
                {% for message in messages %}
                <div class="uk-alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="uk-margin">
                    <label class="uk-form-label" for="full_name">ФИО</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <input class="uk-input"
                                   type="text"
                                   name="full_name"
                                   id="full_name"
                                   placeholder="Введите имя"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="email">Почта</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <input class="uk-input"
                                   type="email"
                                   name="email"
                                   id="email"
                                   placeholder="Введите почту"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="phone_number">Номер телефона</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <input class="uk-input"
                                   type="tel"
                                   name="phone_number"
                                   id="phone_number"
                                   placeholder="Введите телефон">
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="password">Пароль</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <input class="uk-input"
                                   type="password"
                                   name="password"
                                   id="password"
                                   placeholder="Введите пароль"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="confirm_password">Подтвердите пароль</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <input class="uk-input"
                                   type="password"
                                   name="confirm_password"
                                   id="confirm_password"
                                   placeholder="Подтвердите пароль"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1">
                        Создать аккаунт
                    </button>
                </div>
            </form>
            <div class=" uk-text-center">
                <p class="uk-text-muted uk-margin-remove">Уже есть аккаунт?</p>
                <a href="{% url 'login' %}" class="uk-button uk-button-default uk-button-small">
                    Войти
                </a>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit-icons.min.js"></script>
</html>