<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Сервис отеля</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/css/uikit.min.css" />
</head>
<body>
    <div class="uk-container uk-container-expand uk-margin-top">
        {% if messages %}
        <div class="uk-margin-bottom">
            {% for message in messages %}
            <div class="uk-alert uk-alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>
                    {% if message.tags == 'success' %}
                    <span uk-icon="icon: check" class="uk-margin-small-right"></span>
                    {% elif message.tags == 'error' %}
                    <span uk-icon="icon: warning" class="uk-margin-small-right"></span>
                    {% elif message.tags == 'warning' %}
                    <span uk-icon="icon: warning" class="uk-margin-small-right"></span>
                    {% else %}
                    <span uk-icon="icon: info" class="uk-margin-small-right"></span>
                    {% endif %}
                    {{ message }}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="uk-grid " uk-grid>
        <div class="uk-width-expand">
            <h1 class="uk-heading-primary uk-text-center uk-margin-large-left">Сервис отеля</h1>
        </div>
        {% if not user.is_authenticated or user.role == 'guest' %}
        <div class="uk-width-auto">
                    <a href="{% url 'login' %}" class="uk-button uk-button-primary uk-margin-right">Войти</a>
                    <a href="{% url 'register' %}" class="uk-button uk-button-default">Регистрация</a>
        </div>
        {% endif %}
            {% if user.is_authenticated %}
        <div class="uk-width-auto">
                    <a href="{% url 'logout' %}" class="uk-button uk-button-primary uk-margin-right">Выйти</a>
        </div>
        {% endif %}
        </div>

        {% if user.is_authenticated and user.role == 'client' and user.discount %}
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><span></span> У вас есть скидка: {{ user.discount }}%</p>
        </div>
        {% endif %}

        <div class="uk-grid uk-child-width-1-3" uk-grid>
            {% for service in services %}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-height-medium
                    {% if not service.is_active %}service-disabled{% endif %}
                    {% if user.is_authenticated and user.role == 'client' and user_data.discount_more_than_10 and service.is_active %}highlight-discount{% endif %}">

                    <div class="uk-card-badge {% if not service.is_active %}uk-label-warning{% endif %}">
                        {% if user.is_authenticated and user.role == 'client' and user_data.has_discount and service.is_active %}
                        <span class="original-price">{{ service.cost }} ₽</span>
                        {% for item in services_with_discount %}
                        {% if item.service.id == service.id %}
                        <span class="discount-price">
                            {{ item.discounted_price|floatformat:2 }} ₽</span>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                            {{ service.cost }} ₽
                        {% endif %}
                    </div>

                    <h3 class="uk-card-title uk-text-bold uk-margin-small-bottom">
                        {{ service.name }}
                        {% if not service.is_active %}
                        <span> - Недоступно</span>
                        {% endif %}
                    </h3>

                    <p class="uk-text-muted uk-margin-remove-top">
                        {{ service.description|default:"Описание отсутствует" }}
                    </p>

                    <div class="uk-position-bottom uk-padding uk-padding-remove-horizontal">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                {% if service.is_active %}
                                <span class="uk-icon-button uk-button-primary" uk-icon="icon: check"></span>
                                {% else %}
                                <span class="uk-icon-button uk-icon-button-disabled" uk-icon="icon: close"></span>
                                {% endif %}
                            </div>
                            <div class="uk-width-expand">
                                {% if service.is_active %}
                                <span class="uk-text-small uk-text-muted">Доступно</span>
                                {% else %}
                                <span class="uk-text-small uk-text-muted">Не предоставляется</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit-icons.min.js"></script>
</html>