<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Сервис отеля</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/css/uikit.min.css" />
</head>
<body>
    <div class="uk-container uk-container-expand uk-margin-top">

        <div class="uk-grid " uk-grid>
        <div class="uk-width-expand">
            <h1 class="uk-heading-primary uk-text-center uk-margin-xlarge-left">Сервис отеля</h1>
        </div>
        {% if not user.is_authenticated or user.role == 'guest' %}
        <div class="uk-width-auto">
                    <a href="{% url 'login' %}" class="uk-button uk-button-primary uk-margin-right">Войти</a>
                    <a href="{% url 'register' %}" class="uk-button uk-button-default">Регистрация</a>
        </div>
        {% endif %}
        </div>
        <div class="uk-grid uk-child-width-1-3" uk-grid>
            {% for service in services %}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-height-medium">
                    <div class="uk-card-badge">{{ service.cost }} ₽</div>
                    <h3 class="uk-card-title uk-text-bold uk-margin-small-bottom">{{ service.name }}</h3>
                    <p class="uk-text-muted uk-margin-remove-top">{{ service.description }}</p>
                    <div class="uk-position-bottom uk-padding uk-padding-remove-horizontal">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <span class="uk-icon-button uk-button-primary" uk-icon="icon: check"></span>
                            </div>
                            <div class="uk-width-expand">
                                <span class="uk-text-small uk-text-muted">Доступно</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.25.0/dist/js/uikit-icons.min.js"></script>
</html>